import(Matrix)
import(quadprog)	
import(Iso)
import(ggplot2)
import(reshape2)

S3method(plot,orderedLasso.cv)
S3method(plot,orderedLasso.path)
S3method(plot,timeLagLasso.cv)
S3method(plot,timeLagLasso.path)
S3method(print,orderedLasso)
S3method(print,orderedLasso.cv)
S3method(print,orderedLasso.path)
S3method(print,timeLagLasso)
S3method(print,timeLagLasso.cv)
S3method(print,timeLagLasso.path)
export(orderedLasso)
export(orderedLasso.cv)
export(orderedLasso.path)
export(predict.orderedLasso)
export(predict.orderedLasso.path)
export(predict.timeLagLasso)
export(predict.timeLagLasso.path)
export(timeLagLasso)
export(timeLagLasso.cv)
export(timeLagLasso.path)
export(time_lag_matrix)

S3method(predict, orderedLasso)
S3method(predict, orderedLasso.path)
S3method(predict, timeLagLasso)
S3method(predict, timeLagLasso.path)

importFrom("graphics", "abline", "axis", "mtext", "par", "plot",
           "points", "segments")
importFrom("stats", "approx", "sd", "var")
